<a href="https://colab.research.google.com/github/FelipPalermo/DataEng_SC23/blob/main/BATCH_GASOLINA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**BATCH!**


**Esse collab foi usado para tratar rapidamente varios arquivos.**
**Pegamos os arquivos originais da bucket e aplicamos o mesmo tratamento para todos, porque eles derivavam da mesma fonte e continham as mesmas informações**

##Importando biblioteca

In [ ]:
#importando biblioteca
import pandas as pd

##Criando DataFrame

In [ ]:
pd.read_csv('/content/bcdata.sgs.22707.csv',on_bad_lines="skip",sep = ';',encoding="ISO-8859-1")

           data    valor
0    01/01/1995   -398,7
1    01/02/1995  -1151,6
2    01/03/1995  -1019,5
3    01/04/1995   -565,7
4    01/05/1995   -781,7
..          ...      ...
324  01/01/2022  -1316,1
325  01/02/2022   3564,7
326  01/03/2022   6095,1
327  01/04/2022   6838,2
328  01/05/2022   3445,8

[329 rows x 2 columns]

In [ ]:
df = pd.read_csv('/content/bcdata.sgs.22707.csv',on_bad_lines="skip",sep = ';',encoding="ISO-8859-1")

##Fazendo tratamento

In [ ]:
#Dropando colunas que não são necessarias
df.drop(columns=['Regiao - Sigla','Estado - Sigla','Municipio','Revenda','CNPJ da Revenda','Nome da Rua','Numero Rua','Complemento','Bairro','Cep','Bandeira'],inplace=True)

In [ ]:
df

           data    valor
0    01/01/1995   -398,7
1    01/02/1995  -1151,6
2    01/03/1995  -1019,5
3    01/04/1995   -565,7
4    01/05/1995   -781,7
..          ...      ...
324  01/01/2022  -1316,1
325  01/02/2022   3564,7
326  01/03/2022   6095,1
327  01/04/2022   6838,2
328  01/05/2022   3445,8

[329 rows x 2 columns]

In [ ]:
#Dropando linhas duplicadas
df.drop_duplicates()

,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida
0,GASOLINA ADITIVADA,01/07/2021,"5,699",NaN,R$ / litro
1,GASOLINA,01/07/2021,"5,499",NaN,R$ / litro
2,DIESEL S10,01/07/2021,"4,699",NaN,R$ / litro
3,ETANOL,01/07/2021,"5,2",NaN,R$ / litro
4,GASOLINA,01/07/2021,"5,49",NaN,R$ / litro
...,...,...,...,...,...
472848,DIESEL S10,31/12/2021,"5,09",NaN,R$ / litro
472852,GASOLINA,31/12/2021,"6,58",NaN,R$ / litro
472853,ETANOL,31/12/2021,"4,74",NaN,R$ / litro
472854,DIESEL S10,31/12/2021,"5,448",NaN,R$ / litro
472855,GASOLINA ADITIVADA,31/12/2021,"6,58",NaN,R$ / litro

In [ ]:
pd.unique(df['Produto'])

array(['GASOLINA ADITIVADA', 'GASOLINA', 'DIESEL S10', 'ETANOL', 'DIESEL',
       'GNV'], dtype=object)

In [ ]:
df.loc[df['Produto']=='GASOLINA']

,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida
1,GASOLINA,01/07/2021,"5,499",NaN,R$ / litro
4,GASOLINA,01/07/2021,"5,49",NaN,R$ / litro
8,GASOLINA,01/07/2021,"5,499",NaN,R$ / litro
12,GASOLINA,01/07/2021,"5,65",NaN,R$ / litro
15,GASOLINA,01/07/2021,"5,832",NaN,R$ / litro
...,...,...,...,...,...
472839,GASOLINA,31/12/2021,"6,199",NaN,R$ / litro
472841,GASOLINA,31/12/2021,"6,899",NaN,R$ / litro
472846,GASOLINA,31/12/2021,"7,09",NaN,R$ / litro
472850,GASOLINA,31/12/2021,"6,799",NaN,R$ / litro
472852,GASOLINA,31/12/2021,"6,58",NaN,R$ / litro

##Criando Filtros

In [ ]:
df1 = df.loc[df['Produto']=='GASOLINA'].copy()

In [ ]:
df1["Data da Coleta"] = "2021"
df1["Data da Coleta"] = df1["Data da Coleta"].astype(int)

In [ ]:
df1.dtypes

Produto               object
Data da Coleta         int64
Valor de Venda        object
Valor de Compra      float64
Unidade de Medida     object
dtype: object

In [ ]:
#dropei linhas duplicadas
df1.drop_duplicates()

,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida
1,GASOLINA,2021,"5,499",NaN,R$ / litro
4,GASOLINA,2021,"5,49",NaN,R$ / litro
12,GASOLINA,2021,"5,65",NaN,R$ / litro
15,GASOLINA,2021,"5,832",NaN,R$ / litro
19,GASOLINA,2021,"5,799",NaN,R$ / litro
...,...,...,...,...,...
461389,GASOLINA,2021,"7,375",NaN,R$ / litro
464333,GASOLINA,2021,"7,679",NaN,R$ / litro
466647,GASOLINA,2021,"6,735",NaN,R$ / litro
468842,GASOLINA,2021,"6,904",NaN,R$ / litro
469017,GASOLINA,2021,"6,808",NaN,R$ / litro

In [ ]:
df1.to_csv('batch_gasolina.csv')

In [ ]:
#Comandos usados pra concatenar os dataframes de gasolina : 

d2161 = pd.read_csv("/content/G2016-01.csv")
d2162 = pd.read_csv("/content/G2016-02.csv")
d2171 = pd.read_csv("/content/G2017-01.csv")
d2172 = pd.read_csv("/content/G2017-02.csv")
d2181 = pd.read_csv("/content/G2018-01.csv")
d2182 = pd.read_csv("/content/G2018-02.csv")
d2191 = pd.read_csv("/content/G2019-01.csv")
d2192 = pd.read_csv("/content/G2019-02.csv")
d2201 = pd.read_csv("/content/G2020-01.csv")
d2202 = pd.read_csv("/content/G2020-02.csv")
d2211 = pd.read_csv("/content/G2021-01.csv")
d2212 = pd.read_csv("/content/G2021-02.csv")

df = pd.concat([d2161, d2162, d2171, d2172, d2181, d2182,
          d2191, d2192, d2201, d2202, d2211 ], axis=0, ignore_index=True, 
          verify_integrity=True, join="inner")

df.to_csv("Gasolina_Concatenado.csv")

FileNotFoundError: ignored